.container {
  border: 1px solid red;
  width: 600px;
  height: 600px;
  position: relative;
  background-size: 100px 100px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}
